{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Full Name</th>

    <th>Email Id</th>
    <th>Action</th>
  </tr>
  </thead>
   <tbody>

    {% for i in user %}
  <tr>

    <td>{{i.id}}</td>
    <td>{{i.first_name}} {{i.last_name}}</td>

      <td>{{i.email}}</td>
    <td><a href="{% url 'delete_user' i.id %}" onclick="return confirm('Are you sure?')"><button class="btn btn-danger">delete</button></a></td>
  </tr>

    {% endfor %}
    </tbody>

</table>
</div>
{% endblock %}